/* reset margin and padding */
body {
  margin: 0;
  padding: 0;
}

.banner {
  height: 865px;
  width: auto;
  background: url("./banner.jpg") no-repeat center center;
  margin: 0;
  padding: 0;
}

.banner .about-sign_in {
  height: 80px;
  width: 100%;
  text-align: right;
  text-decoration: none;
}

.banner .about-sign_in .about,
.banner .about-sign_in .sign_in {
  margin-top: 20px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}

.banner .about-sign_in .sign_in {
  margin-right: 60px;
  margin-left: 25px;
  border: 1px solid green;
  color: green;
  border-radius: 20px;
}

.banner .about-sign_in .sign_in:hover {
  text-decoration: underline;
}

.banner .logo {
  background: url("./hapoERP.png") no-repeat center center;
  height: 100px;
  margin-top: 200px;
}

.banner .text span {
  text-align: center;
  display: block;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
}

.banner .bt-start-now {
  text-align: center;
}

.banner .bt-start-now button {
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 20px;
  background-color: greenyellow;
  margin-top: 25px;
  cursor: pointer;
}

.banner .content-center {
  text-align: center;
}

.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  display: inline-block;
}

.banner .content-center .left {
  margin-right: 120px;
}

.banner .content-center .right {
  margin-left: 120px;
}

.banner .content-center img {
  height: 40px;
  width: 40px;
}

.banner .content-center span {
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
}